extends ./layout.jade
block contenido
    h1  Account
    h2
      a(href="/Add/addAccount") Crear Cuenta
    
    form(action="/account/search",method="POST" )
      input(type="text",name="search",placeholder="Search",id="search",class="form-control")
      div(class="row top-space")
         div(class="col-xs-12 col-sm-6")
           input(type="submit" value="Buscar" class="btn btn-info")
    
        
    div(class="container")      
      for account in accounts
        div
          .white.border.tr.large-padding
            .row
              .col-md-10
                h4  Username: #{account.username} Pagina: #{account.ownerPage.name} Usuario: #{account.ownerUser.name} 
                .col-md-2
                  a(href="/delete/account/#{account._id}" ) Eliminar 
                  a(href="/edit/editAccount/#{account._id}" ) Editar 
          
                  
