extends ./layout.jade
block contenido
    h1  Page
    h2
      a(href="/Add/addPage") Crear Page
    
    form(action="/page/search",method="POST" )
      input(type="text",name="search",placeholder="Search",id="search",class="form-control")
      div(class="row top-space")
         div(class="col-xs-12 col-sm-6")
           input(type="submit" value="Search" class="btn btn-info")
    
        
    div(class="container")      
      for page in pages
        div
          .white.border.tr.large-padding
            .row
              .col-md-10
                h4  Name: #{page.name} Url: #{page.url}  Protocol: #{page.protocol} IsHttp: #{page.ishttp}
                .col-md-2
                  a(href="/edit/editPage/#{page._id}" ) Edit  
                  a(href="/delete/page/#{page._id}" ) Delete 
          
                  
