extends .././layout.jade
block contenido

    form(action="/edit/editAccount/#{account._id}" method="POST" )
      div(class="form-group")
        label(for="username") Username
        input(type="text",name="username",value="#{account.username}",id="username",class="form-control")


      div
        label(for="password") Password
        input(type="text",name="password",value="#{account.password}",id="password",class="form-control")


      div
        label(for="page") Page
        select(name='page',placeholder="Page",id="pepe",class="form-control")
          option(value='#{page._id}') #{page.name} (#{page.url}),&emsp;id: #{page._id}
          each otherPage in otherPages
            option(value='#{otherPage._id}') #{otherPage.name} (#{otherPage.url}),&emsp;id: #{otherPage._id}


      div
        label(for="user") User
        select(name='user',placeholder="User",id="user",class="form-control")
          option(value='#{user._id}') #{user.name} #{user.lastname},&emsp;id: #{user._id}
          each otherUser in otherUsers
            option(value='#{otherUser._id}') #{otherUser.name} #{otherUser.lastname},&emsp;id: #{otherUser._id}
      
        div
          label(for="ischanged") isChanged
          input(type="checkbox",name="ischanged",value="#{account.isChanged}",id="ischanged",class="form-control")  


        div(class="row top-space")
          div(class="col-xs-12 col-sm-6")
            input(type="submit" value="Guardar" class="btn btn-info")
